{
    "name": "Radio Ventana Mágica",
    "log": "DISCORD WEBHOOK URL (OPTIONAL)",
    "key": "DISCORD BOT KEY",
    "domains": {
        "GUILD ID": {
            "sources": {
                "STRING: TEXT CHANNEL ID": {
                    "ttl": 300, (OPTIONAL)
                    "prefSize": 15, (OPTIONAL)
                    "isolated": false, (OPTIONAL)
                    "private": false, (OPTIONAL)
                    "sampleSize": 10 (OPTIONAL)
                },
                "STRING: DIFFERENT TEXT CHANNEL ID": {
                    "ttl": -1, (OPTIONAL)
                    "prefSize": 15, (OPTIONAL)
                    "isolated": true, (OPTIONAL)
                    "private": true, (OPTIONAL)
                    "sampleSize": 1 (OPTIONAL)
                }
            },
            "broadcast": {
                "channel": "INTEGER: VOICE CHANNEL ID"
            },
            "history": INTEGER SIZE OF STORED HISTORY
        },
        "DIFFERENT GUILD ID": {
                "sources": {
                    "STRING: TEXT CHANNEL ID": {
                        "ttl": 300,
                        "isolated": false,
                        "private": false,
                        "sampleSize": 10
                    },
                    "STRING: DIFFERENT TEXT CHANNEL ID": {
                        "ttl": -1,
                        "prefSize": 15,
                    }
                },
                "broadcast": {
                    "channel": "INTEGER: VOICE CHANNEL ID"
                },
            }
    }
}